* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
button {
  background-color: white;
  padding: 2px;
  border-radius: 2px;
  border: 1px black solid;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 2px 0px;
}
button:hover {
  background-color: #f8f8f8;
  border-bottom: 1px orange solid;
}
#content {
  width: 60%;
  margin: 5rem auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#action-area {
  display: flex;
  width: auto;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.add-btn {
  margin: auto;
  background-color: white;
  padding: 0.5rem;
  font-size: medium;
  font-weight: 400;
  border-radius: 4px;
  border: 1px whitesmoke solid;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 2px 0px;
}
.add-btn:hover {
  background-color: #f8f8f8;
  border-bottom: 2px orange solid;
}
.card {
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: #f9fafba4;
  border-left: 4px solid black;
  width: auto;
}
.card > p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 0.5rem;
}
.card > h3 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.card:hover {
  background-color: #f8f8f8;
  border-left: 4px solid orange;
}

#bottom-container {
  display: flex;
  flex-direction: row;
  border-top: 1px white solid;
  margin-top: 0.25rem;
  padding-top: 0.25rem;
  justify-content: space-between;
  align-items: center;
}
#bottom-container > p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 0.5rem;
}
#btns-container {
  width: 3rem;
  display: flex;
  justify-content: space-between;
}
#btns-container > span {
  color: red;
}

#btns-container > span:hover {
  color: white;
  background-color: red;
  border-radius: 16px;
  cursor: pointer;
}

#middle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#middle-container > button {
  width: 3rem;
}

#middle-container > p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 0.5rem;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-bottom: 2px solid whitesmoke;
}

#nav > button {
  height: 80%;
  padding: 0.5rem;
  font-size: medium;
  font-weight: 400;
  border: 2px #f8f8f8 solid;
  border-radius: 0;
  box-shadow: none;
  min-width: 5rem;
}

#nav > button:hover {
  border-bottom: 2px orange solid;
  color: orange;
}

.active-button {
  background-color: #f8f8f8;
  color: orange;
}
